@tailwind components;
@tailwind utilities;

/* css reset start */
html, body, div, p, img, button, textarea, input, a {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	text-decoration: none;
	color: #222;
}
/* css reset end */

/* css extends start */
.ellipsis-single {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* css extends end */
