/* github flavored markdown 样式 */
@import './assets/css/github-markdown.css';

@tailwind components;
@tailwind utilities;

/* css variables start */
:root {
	--color-theme: #4681ff;
	--color-default: #222;
}
/* css variables end */

/* css reset start */
html, body, div, p, img, button, textarea, input {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	text-decoration: none;
}

html, body {
	color: #222;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: var(--color-theme);
}
/* css reset end */

/* css extends start */
.ellipsis-single {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/* css extends end */
